<h1 class="text-center mt-5">Frequently asked questions</h1>
<div class="text-body">
    <h3>How does searching work?</h3>
    <p>Images in Mitra are indexed using episode subtitles (closed caption text), which means that you can only search using words that were actually spoken during the episode and not things like the name of a character or name of the episode etc.</p>
    <h3 class="mt-5">What seasons are available?</h3>
    <p>All 10 seasons are available.</p>
    <h3 class="mt-5">Technical details?</h3>
    <p>Mitra's front-end is built in Angular and Bootstrap and back-end is built in <a href="https://julialang.org/" target="_blank">Julia.</a> The image data is stored in an SQLite database.</p>
    <h3 class="mt-5">Mitra credits?</h3>
    <p>Mitra is inspired by <a href="https://frinkiac.com/" target="_blank">Frinkiac</a></p>
</div>