<div *ngIf="image" class="d-flex">
    <div class="card col-md-6 col-sm col-xs">
        <img [src]=getSantizeUrl(image.image) class="img-fluid img-thumbnail" alt="image">
        <div class="card-body" *ngIf="showBackButton">
            <button class="btn btn-primary" (click) = "onClick()">Back to last search</button>
        </div>
    </div>
<div class="card col-md-6 col-sm col-xs">
    <h5 class="card-header d-flex justify-content-center">{{image.episode + ' / ' + image.start_time | uppercase}}</h5>
    <div class="card-body d-flex justify-content-center">
        <h5 class="card-title">{{image.text | uppercase}}</h5>
    </div>
</div>
</div>

