<div class="container-fluid">
    <h1 class="text-center mt-5">Mitra has 84403 Friends screenshots, search to your heart's content
    </h1>
    <i class="bi-lightbulb-fill mr-2 mb-2" (click)="onClick()"></i>
</div>