/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@media (max-width: 576px) {
    .col-xs {
        display: flex !important;
        justify-content: start !important;
        margin-top: 0.5rem;
    }
}